<!DOCTYPE html>
<html>
    {% include head.html %}
    <body>
        <div class="container">
          <div class="site">
            {% include header.html %}
            <div class="content">
              <div class="banner">
                <div class="photo">
                  <img src="/assets/imbook_cover.jpg" width="250px" height="250px">
                </div>
                <div class="contact">
                  
									<!-- Department of Statistical Sciences<br>
                  Wake Forest University<br>
                  <br>
		              email: <a href="mailto:prims@wfu.edu"><b>prims@wfu.edu</b></a> <br> -->
		              <b>About the site</b>
              <br>
	      This website contains useful information about Inferential Models (IMs). More information can also be found in the website of <a href="https://www4.stat.ncsu.edu/~rgmarti3//" target="_blank"><b>Dr. Ryan Martin</b>. 

              <br>
                </div>
                
              </div>
			  
              
            
	      
              <br>
              
<!--
              <b>Current research interests</b>
              <ul>
                <li> Imprecise probability</li>
                <li> Possibilistic inferential models</li>
                <li> Foundations of statistics</li>
                <li> Bayesian inference </li>
                <li> Spatial and spatiotemporal statistics </li>
            		<li> Climate and environmental applications </li>
		            <li> Tensor decomposition </li>
		            <li> Surrogate modeling for computer experiment </li>
		            <li> Gaussian processes and deep Gaussian processes </li>
              </ul>
-->
              <br>

            </div>
            <div class="sidebar">
            </div>
            {% include footer.html %}
          </div>
        </div>
    </body>
</html>
